[Unit]
Description=每 10 秒检查一次库存卡后台任务

[Timer]
OnBootSec=15s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=pojia-card-stock-runner.service

[Install]
WantedBy=timers.target
